In [21]:
import yfinance as yf
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
from IPython.display import display               #This is used so that we can print prettier and more clear tables

def collect_amazon_data():
    amzn = yf.Ticker("AMZN")
    stock_data = amzn.history(period = "1mo")
    print("First, we'll take a look at the variables in our data:")
    display(stock_data.tail())
    print("We can see that we have 7 different columns. Since Amazon doesn't pay dividends and it hasn't done a stock split since 2022 we will delete these variables")
    
    stock_data = stock_data.drop("Dividends", axis = 1)
    stock_data = stock_data.drop("Stock Splits", axis = 1)
    display(stock_data.tail())
    current_price = stock_data['Close'].iloc[-1]
    print(f"Current amazon price: ${current_price:.2f}")
    
    #Log returns
    log_returns = np.log(stock_data["Close"] / stock_data["Close"].shift(1))
    hist_vol = log_returns.std() * np.sqrt(252)    #252 trading days. The annual volatility is equal to the daily volatility times the square of the total number of days
    print(f"Annualized volatility based on 30 day lookback: {hist_vol:.2%}")
    
    #Now we get the options data
    expirations = amzn.options
    print("Now we will look at the available options expiration dates:")
    print(f"We have found {len(expirations)} availabe expiration dates")
    print("These are the first 10 dates:")
    display(expirations[:10])
    
    print("Noow we will look at the options information")
    opt_chain = amzn.option_chain()
    display(opt_chain.calls.head())
    print(type(opt_chain))
    print("We can see that we get information about every options contract like the date of the last trade, its strike price, its volume and more.")
    #print("My objective now is to make two dataframes for each expiration date, one for call and one for put options.")    That would be too many dataframes
    print("I will try to add a exp_date column and a potion_type column so we can see when the contract expires and if its a put or a call contract.")
    
    all_options =[]
    for exp_date in expirations:
        opt_chain = amzn.option_chain(exp_date)     #opt_chain is an object that contains two dataframes, one for calls and one for puts
        
        calls =  opt_chain.calls
        calls["contract_type"] = "Calls"
        calls["exp_date"] = exp_date
        
        puts = opt_chain.puts
        puts["contract_type"] = "Puts"
        puts["exp_date"] = exp_date
        #We use the concat method because the dataframes have a shared index
        options = pd.concat([calls, puts])
        all_options.append(options)
        #Now we have a list of dataframes
    #We want to make a single dataframe from a list of dataframes. For this we use again pd.concat() to join them vertically
    opt_chain = pd.concat(all_options)
    display(opt_chain)
    print("Now we have a dataframe with all the option contracts for the existing future expiration dates. ")
    #print("We can see that some contracts have 0 fro bid and for ask. We are not interested in this contracts so we must remove them. We will also remove contracts with 0 volume.")
    #opt_chain = opt_chain[opt_chain["ask"] > 0]
    #opt_chain = opt_chain[opt_chain["bid"] > 0]
    #opt_chain = opt_chain[opt_chain["volume"] > 0]
    #This isn't the right call, because we are left with a very low number of contracts when we run it outside market hours. We will only look at the volume.4
    
    print("\n Now we will introduce and calculate different parameters in the dataframe that will be useful later on.")
    opt_chain["current_price"] = current_price
    opt_chain["mid_price"] = (opt_chain["bid"] + opt_chain["ask"])/2
    display(opt_chain)
    
    
collect_amazon_data()

First, we'll take a look at the variables in our data:

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2026-01-22 00:00:00-05:00,234.050003,235.720001,230.899994,234.339996,31913300,0.0,0.0
2026-01-23 00:00:00-05:00,234.960007,240.449997,234.570007,239.160004,33778500,0.0,0.0
2026-01-26 00:00:00-05:00,239.979996,240.949997,237.539993,238.419998,32825500,0.0,0.0
2026-01-27 00:00:00-05:00,239.690002,244.880005,238.080002,244.679993,38029200,0.0,0.0
2026-01-28 00:00:00-05:00,246.369995,247.779999,241.529999,243.009995,40702800,0.0,0.0

We can see that we have 7 different columns. Since Amazon doesn't pay dividends and it hasn't done a stock split since 2022 we will delete these variables

,Open,High,Low,Close,Volume
Date,,,,,
2026-01-22 00:00:00-05:00,234.050003,235.720001,230.899994,234.339996,31913300
2026-01-23 00:00:00-05:00,234.960007,240.449997,234.570007,239.160004,33778500
2026-01-26 00:00:00-05:00,239.979996,240.949997,237.539993,238.419998,32825500
2026-01-27 00:00:00-05:00,239.690002,244.880005,238.080002,244.679993,38029200
2026-01-28 00:00:00-05:00,246.369995,247.779999,241.529999,243.009995,40702800

Current amazon price: $243.01
Annualized volatility based on 30 day lookback: 28.39%
Now we will look at the available options expiration dates:
We have found 22 availabe expiration dates
These are the first 10 dates:

('2026-01-30',
 '2026-02-06',
 '2026-02-13',
 '2026-02-20',
 '2026-02-27',
 '2026-03-06',
 '2026-03-20',
 '2026-04-17',
 '2026-05-15',
 '2026-06-18')

Noow we will look at the options information

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,AMZN260130C00125000,2026-01-26 20:35:12+00:00,125.0,114.57,0.0,0.0,0.0,0.0,3,0,0.00001,True,REGULAR,USD
1,AMZN260130C00130000,2026-01-26 20:33:47+00:00,130.0,109.40,0.0,0.0,0.0,0.0,2,0,0.00001,True,REGULAR,USD
2,AMZN260130C00135000,2026-01-27 19:47:37+00:00,135.0,108.84,0.0,0.0,0.0,0.0,1,0,0.00001,True,REGULAR,USD
3,AMZN260130C00140000,2026-01-26 20:55:00+00:00,140.0,98.50,0.0,0.0,0.0,0.0,5,0,0.00001,True,REGULAR,USD
4,AMZN260130C00145000,2026-01-26 20:34:47+00:00,145.0,94.46,0.0,0.0,0.0,0.0,3,0,0.00001,True,REGULAR,USD

<class 'yfinance.ticker.Options'>
We can see that we get information about every options contract like the date of the last trade, its strike price, its volume and more.
I will try to add a exp_date column and a potion_type column so we can see when the contract expires and if its a put or a call contract.

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency,contract_type,exp_date
0,AMZN260130C00125000,2026-01-26 20:35:12+00:00,125.0,114.57,0.0,0.0,0.0,0.0,3.0,0,0.00001,True,REGULAR,USD,Calls,2026-01-30
1,AMZN260130C00130000,2026-01-26 20:33:47+00:00,130.0,109.40,0.0,0.0,0.0,0.0,2.0,0,0.00001,True,REGULAR,USD,Calls,2026-01-30
2,AMZN260130C00135000,2026-01-27 19:47:37+00:00,135.0,108.84,0.0,0.0,0.0,0.0,1.0,0,0.00001,True,REGULAR,USD,Calls,2026-01-30
3,AMZN260130C00140000,2026-01-26 20:55:00+00:00,140.0,98.50,0.0,0.0,0.0,0.0,5.0,0,0.00001,True,REGULAR,USD,Calls,2026-01-30
4,AMZN260130C00145000,2026-01-26 20:34:47+00:00,145.0,94.46,0.0,0.0,0.0,0.0,3.0,0,0.00001,True,REGULAR,USD,Calls,2026-01-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29,AMZN281215P00320000,2026-01-28 18:59:42+00:00,320.0,94.55,0.0,0.0,0.0,0.0,3.0,0,0.00001,True,REGULAR,USD,Puts,2028-12-15
30,AMZN281215P00330000,2026-01-27 15:59:34+00:00,330.0,103.20,0.0,0.0,0.0,0.0,1.0,0,0.00001,True,REGULAR,USD,Puts,2028-12-15
31,AMZN281215P00340000,2026-01-28 15:35:08+00:00,340.0,108.60,0.0,0.0,0.0,0.0,6.0,0,0.00001,True,REGULAR,USD,Puts,2028-12-15
32,AMZN281215P00350000,2026-01-27 19:59:52+00:00,350.0,116.76,0.0,0.0,0.0,0.0,3.0,0,0.00001,True,REGULAR,USD,Puts,2028-12-15
33,AMZN281215P00360000,2026-01-27 19:59:52+00:00,360.0,124.66,0.0,0.0,0.0,0.0,1.0,0,0.00001,True,REGULAR,USD,Puts,2028-12-15

Now we have a dataframe with all the option contracts for the existing future expiration dates.
We can see that some contracts have 0 fro bid and for ask. We are not interested in this contracts so we must remove them. We will also remove contracts with 0 volume.

 Now we will introduce and calculate different parameters in the dataframe that will be useful later on.

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency,contract_type,exp_date,current_price,mid_price
0,AMZN260130C00125000,2026-01-26 20:35:12+00:00,125.0,114.57,0.0,0.0,0.0,0.0,3.0,0,0.00001,True,REGULAR,USD,Calls,2026-01-30,243.009995,0.0
1,AMZN260130C00130000,2026-01-26 20:33:47+00:00,130.0,109.40,0.0,0.0,0.0,0.0,2.0,0,0.00001,True,REGULAR,USD,Calls,2026-01-30,243.009995,0.0
2,AMZN260130C00135000,2026-01-27 19:47:37+00:00,135.0,108.84,0.0,0.0,0.0,0.0,1.0,0,0.00001,True,REGULAR,USD,Calls,2026-01-30,243.009995,0.0
3,AMZN260130C00140000,2026-01-26 20:55:00+00:00,140.0,98.50,0.0,0.0,0.0,0.0,5.0,0,0.00001,True,REGULAR,USD,Calls,2026-01-30,243.009995,0.0
4,AMZN260130C00145000,2026-01-26 20:34:47+00:00,145.0,94.46,0.0,0.0,0.0,0.0,3.0,0,0.00001,True,REGULAR,USD,Calls,2026-01-30,243.009995,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29,AMZN281215P00320000,2026-01-28 18:59:42+00:00,320.0,94.55,0.0,0.0,0.0,0.0,3.0,0,0.00001,True,REGULAR,USD,Puts,2028-12-15,243.009995,0.0
30,AMZN281215P00330000,2026-01-27 15:59:34+00:00,330.0,103.20,0.0,0.0,0.0,0.0,1.0,0,0.00001,True,REGULAR,USD,Puts,2028-12-15,243.009995,0.0
31,AMZN281215P00340000,2026-01-28 15:35:08+00:00,340.0,108.60,0.0,0.0,0.0,0.0,6.0,0,0.00001,True,REGULAR,USD,Puts,2028-12-15,243.009995,0.0
32,AMZN281215P00350000,2026-01-27 19:59:52+00:00,350.0,116.76,0.0,0.0,0.0,0.0,3.0,0,0.00001,True,REGULAR,USD,Puts,2028-12-15,243.009995,0.0
33,AMZN281215P00360000,2026-01-27 19:59:52+00:00,360.0,124.66,0.0,0.0,0.0,0.0,1.0,0,0.00001,True,REGULAR,USD,Puts,2028-12-15,243.009995,0.0

Total rows: 2024

Rows where bid > 0: 47
Rows where ask > 0: 47
Rows where volume > 0: 1964
Rows where openInterest > 0: 7

Rows where lastPrice > 0: 2024